html,body{
    width:100%;
    min-width: 1280px;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    /*background-color: black;*/
}
ul{
    margin:0px;
    padding:0px;
}
#top{
    position: fixed;
    top:0px;
    left:0px;
    z-index:200;
}
/*Part1*/
.center_pic{
    width:100%;
    height:59em;
    background-color: #12151A;
    overflow: hidden;

}
.main_pic{
    position: relative;
    top:0px;
    left:0px;
    width:98%;
    height:168%;
    margin-left:-6%;
    z-index:1;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    /*transform:translate3d(0px,0px,0px);*/
    /*transform:matrix3d(1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);*/
    /*transform:rotate3d(0,0,0,10deg);*/
    transform-origin:50% 50% 0px;
     perspective: 1600px; transform-style: preserve-3d;
}
.main_pic_1{
    position: absolute;
    top:12%;
    left:0px;
    width:93.7%;
    margin-left:6%;
    z-index:30;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-origin:50% 50% 0px;
    perspective: 1600px; transform-style: preserve-3d;
    /*!*transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);*!*/
    /*!*transform:translate3d(0px,0px,0px);*!*/
    /*transform:matrix3d(1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);*/
    /*!*transform:rotate3d(0,0,0,10deg);*!*/
    /*transform-origin:50% 50% 0px;*/
    /*overflow: visible; perspective: 1600px; transform-style: preserve-3d; visibility: inherit;*/
}
.center_word_1{
    width: 28%;
    height: 10%;
    position: absolute;
    top: 11%;
    left: 37%;
    z-index: 50;
    background: url(../img/Group_34.png) no-repeat;
    background-size: contain;
}
.center_main{
    /*display:none;*/
    position:absolute;left:0px;top:7%;
    width:100%;
    min-width:1280px;
    height:auto;
    background-color: #4F7EFB;
    z-index: 99;
}
.center_word{
    width:100%;
    height:75em;
    background-color: #4F7EFB;
    position:relative;left:0px;top:0px;
    z-index:99;
}
.center_word_main{
    padding-top:6%;
    color:white;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 165%;
    line-height:270%;
}
.center_word_pic{
    width:100%;
    height:60%;
    /*background: url('../img/right_1.jpg') 72% 82% no-repeat,*/
    /*url("../img/right_2.jpg") 48% 42% no-repeat,*/
    /*url("../img/right_3.jpg") 15% 73% no-repeat;*/
    position: absolute;
    bottom: 0px;
}
.center_word_pic_1{
    width: 44.5%;
    position: absolute;
    bottom: -9%;
    left: 40%;
}
.center_word_pic_2{
    width: 46.5%;
    position: absolute;
    bottom: -9%;
    left: 25%;
}
.center_word_pic_3{
    width: 27%;
    position: absolute;
    bottom: -9%;
    left: 14%;
}
.grey_main{
    width: 100%;
    min-width: 1280px;
    height: 45em;
    background-color: #F0F0F0;
    box-shadow: 0px 10px 40px #B8B8B8;
    position: relative;
    z-index: 150;
}
.grey_word{
    width:100%;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 175%;
    color: #000000;
    line-height:175%;
    padding-top:2.7%;
}
.grey_list{
    padding-top:2.4%;
}
.grey_main li{
    width:14.4%;
    height:auto;
    list-style: none;
    float:left;
    text-align: center;
    line-height:320%;
    margin-left:8%;
    font-size: 1em;
}

.show_main{
    width:100%;
    min-width: 1280px;
    position: absolute;
    top:1850px;
    left:0px;
}
.show_main hr{
    width: 6%;
    position: relative;
    left: -47.5%;
    top: -1%;
    border: 1px solid #D5D5D5;
}
/*Part 2*/
.htm_main{
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    font-family: PingFangSC-Light;
    font-size: 125%;
    color: #000000;
}
.htm_main_first{
    width:100%;
    height:57em;
    margin-top:9.5%;
}
.htm_main_first_fir{
    width:auto;
    height: 18em;
    margin-left:12.5%;
    line-height:220%;
}
.htm_main_first_sec{
    margin-top:9%;
    width:auto;
    height:18em;
    margin-left:12.5%;
    line-height:220%;
}
.htm_main_first_pic_1{
    width:39.7%;
    position: absolute;
    top:8%;
    left:50%;
}
.htm_main_first_pic_2{
    width: 9.7%;
    position: absolute;
    top: 9.8%;
    left: 65.5%;
}
.htm_main p{
    font-family: PingFangSC-Regular;
    font-size: 170%;
    color: #000000;
}
.htm_main_sec{
    height: 58em;
    overflow: hidden;
    position: relative;
}
.htm_main_sec_pic_1{
    width:31%;
    position: absolute;
    top:31.6%;
    left:-6%;
}
.htm_main_sec_pic_2{
    width: 9.5%;
    position: absolute;
    top: 35.3%;
    left: 22.3%;
}
.htm_main_sec_pic_3{
    width:17.7%;
    position: absolute;
    top:31.9%;
    left:24%;
}
.htm_main_sec_word{
    /*width: auto;*/
    /*margin-left: 52.6%;*/
    /*line-height: 220%;*/
    /*margin-top: 22.5%;*/
    /*color: white;*/
    color: white;
    width: 18%;
    position: absolute;
    top: 28%;
    left: 60%;

}
.htm_main_thr{
    margin-top:8.5%;
}
.htm_main_thr_word{
    margin-left:12.5%;
    line-height:220%;
}
.htm_main_thr_pic_1{
    width: 9.4%;
    position: absolute;
    top: 58%;
    left: 65.8%;
}
.htm_main_thr_pic_2{
    width:41.7%;
    position: absolute;
    top:60.4%;
    left:43.9%;
}
.sec_grey{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0.6;
}
/*Part3*/
.luntan{
    width:100%;
    height:19.2em;
    margin-top:10%;
    background-color: #FAFAFA;
    background: url('../img/luntan.png')no-repeat;
    background-size: contain;
}



/*Part4*/

.luntan_pic{
    width:7%;
    height:auto;
    margin-left:19.25%;
    margin-top:63px;
    float:left;
}
.luntan_word{
    width: 17.1%;
    height: 100%;
    float: left;
    font-size: 120%;
    color: #000000;
    letter-spacing: 0;
    margin-top: 0%;
    margin-left: 3.6%;
}
.luntan_word p{
    font-size: 200%;
    color: #000000;
    letter-spacing: 0;

    line-height: 104px;
}
.luntan_button{
    width: 40%;
    height: 100%;
    margin-left: 62.5%;
}
.but_1{
    width:22%;
    height:3.5em;
    border:none;
    background:url('../img/Rectangle_10.jpg') no-repeat ;
    background-size:contain;
    font-size: 120%;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 13%;
}
.but_2{
    width:22%;
    height:3.5em;
    border:none;
    background:url('../img/Rectangle_11.jpg') no-repeat ;
    background-size:contain;
    font-size: 120%;
    color: #4F7EFB;
    letter-spacing: 0;
    margin-left:10%;
    line-height:200%;
}

.more{
    font-family: PingFangSC-Regular;
    margin-bottom: 10%;
    font-size: 14px;
    color: #39A0E7;
    cursor: pointer;
    margin-top:1%;
}
.more img{
    margin-left:1%;
}
.more li{
    width:8px;
    height:8px;
    margin-right:1%;
    float:left;
    list-style: none;
    background: url('../img/index_word_1.jpg') no-repeat;
    background-size: contain;
}

