body{
    width:100%;
    min-width:1100px;
    height:100%;
}
p{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.top{
    width:100%;
    height:84px;
    margin-top:80px;
}
.logo{
    width:131px;
    float:left;
    padding-left:160px;
}
.close{
    width:27.6px;
    float:right;
    padding-right:140.2px;
}
.main_word{
    width:220px;
    margin:0 auto;
    height:135px;
    text-align: center;
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #162D3D;
    letter-spacing: 0;
}
.main_word p{
    font-size: 60px;
    line-height:79px;
    padding-bottom:20px;
}
.main_word span{
    margin-left:20px;
    font-size: 20px;
    color: #57A8EF;
}
.main_list{
    width:1078px;
    height:380px;
    margin:40px auto;
}
.main_list_left{
    float:left;
    width:581px;
    height:380px;
    border-right:1px solid #D8D8D8;;
    list-style: none;
}
.main_list_left p{
    font-family: PingFangSC-Light;
    font-size: 18px;
    color: #162D3D;
    letter-spacing: 0;
    text-align: left;
}
.main_list_left .list_text{
    width:484px;
    height:40px;
    border:none;
    border-bottom: 1px solid #E1E1E1;
}
.main_list_left .list_2{
    margin-top:38px;
}
.main_list_left .check{
    width:21px;
    height:21px;
    background: url('../img/check_no.png') no-repeat;
    float:left;
}
.main_list_left .get_pass{
    width:21px;
    height:21px;
    border:none;
    opacity: 0;

}
.main_list_left span{
    font-family: PingFangSC-Thin;
    font-size: 18px;
    color: #162D3D;
    letter-spacing: 0;
}
.main_list_left .pass_right{
    margin-left:282px;
}
.main_list_left .sub{
    width:200px;
    height:60px;
    margin-top:100px;
    background: url('../img/login_in.png') no-repeat;
    background-size: 200px 60px;
    cursor: pointer;
}



.main_list_right{
    float:left;
    width:496px;
    height:380px;
    list-style: none;
}
.main_list_right #facebook{
    width:398px;
    height:62px;
    background: url('../img/facebook.png') no-repeat;
    margin-left:98px;
    margin-top:93px;
    line-height:62px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #3A5998;
    letter-spacing: 0;
    text-align: center;
}
.main_list_right #google{
    width:398px;
    height:62px;
    background: url('../img/google.png') no-repeat;
    margin-left:98px;
    margin-top:40px;
    line-height:62px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #D34837;
    letter-spacing: 0;
    text-align:center;
}
.regis{
    width:200px;
    height:60px;
    margin-top:100px;
    background: url('../img/zhuce.png') no-repeat;
    background-size: 200px 60px;
    cursor: pointer;
}
.register_list_left{
    float:left;
    width:581px;
    height:380px;
    border-right:1px solid #D8D8D8;;
}
.register_list_left li{
    list-style: none;
}
.register_list_left .list_2{
    font-family: PingFangSC-Thin;
    font-size: 18px;
    color: #162D3D;
    letter-spacing: 0;
}
.register_list_left .list_text{
    width:484px;
    height:40px;
    border:none;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom:10px;
}
