html{
    width:100%;
    height: 100%;
}
body{
    width:100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
p{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 0em;
    margin-bottom: 0em;

}

.bottom{
    position:relative;
    z-index:99;
}

.content_fir{
    width: 100%;
    height: 64em;
    background: #21303C;
    text-align: center;
    font-family: PingFangSC-Light;
    font-size: 130%;
    color: #D4D4D4;
    letter-spacing: 0;
    line-height: 167%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 99;
}
.content_fir p{
    font-family: PingFangSC-Light;
    font-size: 300%;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 140%;
}
.content_fir .two_button{
    width: 25.23%;
    height: 7%;
    margin: 5.4% auto;
}
.two_button input[type='button']{
    width: 44%;
    height: 63%;
    border: none;
}
.content_fir .fir_pic{
    width: 100%;
    height: 41%;
    position: absolute;
    bottom: 0%;
    /*background: url(../img/Group_7.jpg) 100% 0% no-repeat,*/
    /*url(../img/Group_10.jpg) 54% 101% no-repeat,*/
    /*url(../img/Group_5.jpg) 22% 101% no-repeat;*/
}
.fir_pic_1{
    position: absolute;
    left: 19%;
    bottom: 0px;
    width: 27.9%;
 }
.fir_pic_2{
    position: absolute;
    left: 34%;
    bottom: 0px;
    width: 37%;
}
.fir_pic_3{
    position: absolute;
    left: 55%;
    bottom: -8%;
    width: 45%;
}
.content_fir .fir_pic .fir_pic_grey{
    width: 40%;
    height: 77%;
    background: #21303C;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left: 17.1%;
    z-index: 99;
}


/*Part 2*/
.sec_main{
    width: 37.5%;
    height: 42.2%;
    padding-top: 18.8%;
    margin-left: 17.5%;
    ont-family: PingFangSC-Light;
    font-size: 125%;
    letter-spacing: 0;
    line-height: 160%;
}
.sec_main p{
    font-family: PingFangSC-Light;
    line-height:150%;
    letter-spacing: 0;
}
.content_sec{
    width:100%;
    height:80em;
    background: #4F7EFB;
}
.content_sec .sec_main{
    color: #FFFFFF;
}
.content_sec .sec_main p{
    color: #FFFFFF;
}
.content_sec .two_button{
    width: 67.4%;
    height: 25%;
    margin: 8.5% 0px;
}
.p_1{
    font-size: 330%;
}
.p_2{
    font-size: 240%;
    padding-bottom: 21%;

}
/*part 3*/
.content_thr{
    width:100%;
    height:80em;
}

.content_thr .two_button{
    width: 67.4%;
    height: 25%;
    margin: 8.5% 0px;
}

/*part4*/
.content_for{
    width:100%;
    height:80em;
    background-color: #3BBABB;;
}
.content_for .sec_main{
    color:white;
}
.content_for .two_button{
    width: 67.4%;
    height: 25%;
    margin: 8.5% 0px;
}

/*part 5*/
.content_fiv{
    width:100%;
    height:80em;
    background-color:#2D2D39;;
    position: relative;
    left:0px;
    top:0px;
    z-index:99;
}
.fiv_list{
    width: 36.8%;
    height: 46.9%;
    margin-left: 32.1%;
    padding-top: 10.5%;

}
.content_fiv .fiv_list_left{
    width: 42.8%;
    height: 100%;
    float: left;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.content_fiv  p{
    font-family: PingFangSC-Regular;
    font-size: 150%;
    color: #000000;
    letter-spacing: 0;
    padding-bottom: 20%;
    padding-top: 13.5%;
}
.content_fiv  li{
    list-style: none;
    width: 80%;
    height: 11.4%;
    margin: 0 auto;
    line-height: 360%;
    font-family: PingFangSC-Light;
    font-size: 125%;
    color: #000000;
    letter-spacing: 0;
    border-bottom: 1px solid #E8E8E8;
}
.content_fiv .fiv_list_right{
    margin-left: 14%;
    width: 42.9%;
    height: 100%;
    float: left;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.fiv_word{
    width: 44.14%;
    height: 4%;
    margin: 0 auto;
    font-family: PingFangSC-Light;
    font-size: 210%;
    color: #FFFFFF;
    padding-top: 4.2%;
}
.content_fiv .two_button{
    height: 10%;
    margin: 0 auto;
    text-align: center;
    width: 24%;
}
.content_fiv .two_button a{
    font-family: PingFangSC-Thin;
    font-size: 130%;
    color: #FFFFFF;
    letter-spacing: 0;
}


.right_pic{
    position: fixed;
    width: 42%;
    height: 92%;
    right: 0px;
    top: 24.7%;
    z-index: 1;
    background: url(../img/pro_right_1.jpg) no-repeat;
    background-size: contain;
}
.right_pic_cover_1{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.right_pic_1{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index:50;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    background: url("../img/pro_right_2.jpg") no-repeat;
    background-size: contain;
}
.right_pic_cover_2{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.right_pic_2{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index:99;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    background: url("../img/pro_right_3.jpg") no-repeat;
    background-size: contain;
}



.app_first{
    width: 100%;
    height: 140%;
    background-image: linear-gradient(-180deg, #F8FAFF 0%, #F2F5FB 100%);
    overflow: hidden;
    position: relative;
}
.app_sec{
    width: 100%;
    height: 68.8em;
    position: relative;
    z-index: 99;
}
.app_thr{
    width:100%;
    height:75em;

    background-image: linear-gradient(-180deg, #EDEFF4 0%, #EDEFF4 100%);
}
.app_for{
    width:100%;
    height: 50em;
    background: #1E253D;
    text-align: center;
    opacity: 0.56;
}
.app_fiv{
    width:100%;
    height:51.4em;
}
.f_p_1{
    width: 40.4%;
    position: absolute;
    left: 59.5%;
    bottom:0px;
    z-index: 1
}
.f_p_2{
    width: 10.14%;
    position: absolute;
    left: 90.7%;
    top:0px;
}
.f_p_3{
    width: 17.4%;
    position: absolute;
    left: 82.6%;
    bottom:0px;
    z-index: 1
}
.f_p_4{
    width: 33.85%;
    position: absolute;
    left: 60.85%;
    top:0px;
}
.app_first_word{
    width: 29.5%;
    height: 31.3%;
    margin-left: 15.8%;
    padding-top: 26.3%;
    font-family: PingFangSC-Thin;
    font-size: 125%;
    line-height: 150%;
    color: #686868;
}
.app_first_word p{
    font-size: 300%;
    color: #000000;
    line-height: 180%;
}
.f_but{
    width: 27.8%;
    height: 10%;
    margin-top: 7%;
}
.app_sec_pic{
    width: 35%;
    height: 109%;
    position: relative;
    left: 12.6%;
    top: -13%;
    float: left;
}
.app_sec_pic img{
    width:100%;
    height:100%;
}
.app_sec_word{
    width: 31.5%;
    height: 50.5%;
    margin-right: 8.4%;
    padding-top: 8.4%;
    font-family: Seravek-ExtraLight;
    font-size: 125%;
    color: #2E2E2E;
    line-height: 150%;
    float: right;
}
.app_sec_word p{
    font-family: Seravek-ExtraLight;
    font-size: 250%;
    color: #000000;
    padding-bottom: 8.4%;
}
.app_thr p{
    font-family: Seravek-ExtraLight;
    font-size: 450%;
    color: #000000;
    padding-top: 8.4%;
    margin-left: 32.3%;
}
.app_thr_p{
    width: 86.4%;
    height: 34.5%;
    margin: 6.8% auto;
}
.app_thr_p li{
    list-style: none;
    text-align: center;
    width: 17.4%;
    height: 100%;
    float: left;
    margin-left: 7.54%;
}
.app_thr_p li img{
    padding-bottom:18%;
}
.app_thr_bot{
    width: 9%;
    height: auto;
    margin-left: 44.1%;
}
.app_thr_bot img{
    padding-top:36%;
}
.app_for p{
    font-family: Seravek-ExtraLight;
    font-size: 450%;
    color: #FFFFFF;
    line-height: 120%;
}
.app_for img{
    padding-top:8%;
}

.app_fiv li{
    width: 33.3%;
    height: 100%;
    float: left;
    list-style: none;
}
#fiv_left p{
    font-family: Seravek-ExtraLight;
    font-size: 400%;
    color: #000000;
    line-height:150%;
}
#fiv_left img{
    width:80%;
    margin-left: 6.3%;
    margin-top: 12.5%;
}
#fiv_center{
    text-align: center;
    font-family: PingFangSC-Thin;
    font-size: 120%;
    color: #000000;
    background: #F2EBDE;
}
#fiv_center p{
    font-family: Seravek-ExtraLight;
    font-size: 380%;
    color: #000000;
    line-height:150%;
}
#fiv_right{
    background: url('../img/fiv_right.jpg') no-repeat;
}
#fiv_right p{
    font-family: Seravek-ExtraLight;
    font-size: 400%;
    color: #FFFFFF;
    line-height:150%;
    margin-left: 6.4%;
}