<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="__static__/css/projectshow.css" rel="stylesheet"/>
</head>
<body>
{include file='index/index_top'}
<div class="content_fir">
<p style="padding-top:9%">基于“公正防伪”的</p>
    <p style="padding-bottom:2%;">电子病案首页监控平台</p>
    在当下，从比特币涅槃而生的创新技术区块链，正被世界各国政府、银行、科技巨头寄予厚望，<br />
    区块链引人关注之处在于，能够在网络中建立点对点之间可靠的信任，使得价值传递过程去除了中介的干扰<br />
    既公开信息又保护隐私，既共同决策又保护个体权益，这种机制提高 了价值交互的效率并降低了成本。
    <div class="two_button">
        <input type="button" value="" class='go_start' style="background:url('__static__/img/Group_4.jpg') no-repeat;background-size: contain;float: left;margin-left: 31%;"/>
    </div>
    <div class="fir_pic">
    </div>
</div>
<div class="content_sec">
    <div class="sec_main">
        <p class='p_1'>信息修改的监控</p>
        <p class='p_2'>可直观披露历史情况</p>
        利用区块链上数据真实、难以篡改的特点，可有效简化病案修改的追溯的过程，<br />
        降低追溯 成本，此外，通过区块链技术，实现个人数字化管理，简化信息流程，<br/>
        有助于更为清晰地披露历史情况。
        <div class="two_button">
            <input type="button" value="" style="background:url('__static__/img/Group_41.jpg') no-repeat;background-size: contain;float: left;"/>
            <input type="button" value="" style="background:url('__static__/img/Group_153.jpg') no-repeat;background-size: contain;float:right;"/>
        </div>
    </div>
</div>
<div class="content_thr">
    <div class="sec_main">
        <p class='p_1'>产品设计原则</p>
        <p class='p_2'>系统性原则</p>
        病案首页监控平台涉及到医院临床工作的行为，平台的建设是一个系统性的工程，<br />
        在功 能上体现综合性，结构上凸显层次性，目的上透露出管理的科学性，<br/>
        病案首页监控模式中的信 息设备基础是由病案系统紧密衔接而成，因此，<br/>
        病案首页监控模式要体现系统性原则。
        <div class="two_button">
            <input type="button" value="" style="background:url('__static__/img/Group_4.jpg') no-repeat;background-size: contain;float: left;"/>
            <input type="button" value="" style="background:url('__static__/img/Group_152.jpg') no-repeat;background-size: contain;float:right;"/>
        </div>
    </div>
</div>
<div class="content_for">
    <div class="sec_main">
        <p class='p_1'>产品设计原则</p>
        <p class='p_2'>安全性原则</p>
        系统充分考虑整个系统运行的安全策略和机制，可以根据不同的业务要求<br />
        和应用处理，设 置不同的安全措施。操作安全性由用户管理、权限管理、<br/>
        防病毒管理、入侵管理、漏洞管理等 部分组成，再加上相应的安全策略、<br/>
        安全规范，形成完整的安全保证体系，保证系统数据不被 非法入侵者<br/>
        破坏和盗用，并保证数据的一致性。
        <div class="two_button">
            <input type="button" value="" style="background:url('__static__/img/Group_43.jpg') no-repeat;background-size: contain;float: left;"/>
            <input type="button" value="" style="background:url('__static__/img/Group_151.jpg') no-repeat;background-size: contain;float:right;"/>
        </div>
    </div>
</div>
<div class="content_fiv">
    <div class="fiv_list">
        <div class="fiv_list_left">
            <p>平台架构设计（开发）</p>
            <li>数据层</li>
            <li>服务层</li>
            <li>应用展现层</li>
        </div>
        <div class="fiv_list_right">
            <p>系统技术</p>
            <li>哈希函数</li>
            <li>指针及数据结构</li>
            <li>系统登录界面</li>
            <li>首页管理</li>
            <li>资源库查询</li>
            <li>自定义查询</li>
        </div>
    </div>
    <div class="fiv_word">Let us monitor and protect you from time to time !</div>
    <div class="two_button">
        <input type="button" style="background:url('__static__/img/Group_4.jpg') no-repeat;background-size: contain;margin-top:18%;margin-bottom:18%;"/>
        <br/><a href="" >查看所有的系统概述</a>
    </div>
</div>
<div class="right_pic">
    <div class="right_pic_cover_1">
        <div class="right_pic_1">

        </div>
    </div>
    <div class="right_pic_cover_2">
        <div class="right_pic_2">

        </div>
    </div>
</div>
{include file='index/index_bottom'}
</body>
</html>
<script src="__static__/js/jquery.min.js" ></script>
<script src="__static__/js/cover.js" ></script>
<script>
    $('.bottom').css('margin-top','0px');
    var html = document.documentElement;

    // 封装一个函数
    function fontS(){
        // 获取 html 的宽
        var hW = html.offsetWidth;
        // 计算字体大小，这里是 html 宽的五十分之一
        var hS = hW / 120;
        // 给刚开始时的 html 设置字体大小
        html.style.fontSize = hS + "px";
    }
    // 当窗口大小改变时执行函数
    fontS();
    window.onresize = function(){
        location.reload();
        fontS();
    }
    $('.go_start').click(function(){
        var zz = $('.content_fir').height();
        $("html,body").animate({scrollTop:zz},1000);
    })
</script>