<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="__static__/css/projectshow.css" rel="stylesheet"/>
</head>
<body>
{include file='index/index_top'}
<div class="app_first">
    <div class="app_first_word">
        <p>Feel a modern </p>
        <p style="padding-bottom:50px;">touch</p>
        追踪健身记录，测量心率活动数据，密切关注自己的健康状况。<br/>
        Hcc Watch Series 1 搭载双核处理器和 watchOS 4 强大的<br/>
        新功能，让这一切在转瞬之间就能实现。<br/>
        <img src="__static__/img/f_but.png" class="f_but"/>
        <img src="__static__/img/w_1.png" class="f_p_1"/>
        <img src="__static__/img/w_2.png" class="f_p_2"/>
        <img src="__static__/img/w_4.png" class="f_p_3"/>
        <img src="__static__/img/w_5.png" class="f_p_4"/>
    </div>
</div>
<div class="app_sec">
        <div class="app_sec_pic"><img src="__static__/img/s_1.png" /></div>
    <div class="app_sec_word">
        <p>Technology</p>
        Vestibulum cursus nunc. Suspendisse adipiscing . Nunc non sem volutpat<br/>
        urna. Cras consectetuer adipiscing ligula. Sed lacinia, risus sit amet risus.<br/>
        Aliquam tempus enim aliquam dolor gravida elit.<br/>
        <li><img src="" /></li>
        <li><img src="" /></li>
        <li><img src="" /></li>
    </div>
</div>
<div class="app_thr">
    <p>See our screenshot gallery</p>
    <div class="app_thr_p">
        <li><img src="__static__/img/t_1.png" /><div>Curabitur blandit</div></li>
        <li><img src="__static__/img/t_2.png" /><div>Lorem ipsum dolor</div></li>
        <li><img src="__static__/img/t_3.png" /><div>Health CareChain</div></li>
        <li><img src="__static__/img/t_4.png" /><div>Fusce congue</div></li>
    </div>
    <div class="app_thr_bot">
        <input type="image" src="__static__/img/t_icon_1.png" style="padding-left:80px;"/>
        <input type="image" src="__static__/img/t_icon_2.png" style="padding-left:30px;"/>
        <img src="__static__/img/t_b_1.png" />
    </div>
</div>
<div class="app_for">
<p style="padding-top:160px;">Hcc CareChain Watch</p>
    <p>Intelligent detection protects your health</p>
    <img src="__static__/img/for_but.png" />
</div>
<div class="app_fiv">
<li id="fiv_left">
    <p style="padding-top:40px;">Hcc Health</p>
    <p>CareChain Watch</p>
    <img src="__static__/img/w_3.png" />
</li>
    <li id="fiv_center">
        <p style="padding-top:148px;">If you have any </p>
        <p>requirements,</p>
        <p>please feel free to </p>
        <p style="padding-bottom:40px;">contact us</p>
        Hcc CareChain Watch<br/>
        Intelligent detection protects your health<br/>
        <img src="__static__/img/fiv_center_but.png" style="padding-top:60px"/>
    </li>
    <li id="fiv_right">
        <p style="padding-top:40px;">Set it</p>
        <p>according</p>
        <p>to your needs</p>
    </li>
</div>
{include file='index/index_bottom'}
</body>
</html>