<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="__static__/js/jquery.min.js" ></script>
    <link type="text/css" href="__static__/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <img src="__static__/img/LOGO.png" class="logo" style="cursor: pointer;"/>
        <img src="__static__/img/close.png" class="close" />
    </div>
    <div class="main_word">
        <p>登录</p>
        新用户首次登录？<span style="cursor: pointer;">注册</span>
    </div>
    <div class="main_list">
        <div class="main_list_left">
                <li>
                    <p>邮箱</p>
                    <input type="text" name="email" class="list_text"/>
                </li>
            <li>
                <p class="list_2">密码</p>
                <input type="text" name="password" class="list_text"/><br/><br/>
                <div class="check">
                    <input type="checkbox" name="get_pass" class="get_pass" />
                </div>
                <span style="margin-left:10px;">记住密码</span><span class="pass_right">忘记密码</span>
            </li>

                <div class="sub">

                </div>
        </div>
        <div class="main_list_right">
                <li id="facebook">facebook账号登录</li>
                <li id="google">google账号登录</li>
        </div>
    </div>
</body>
</html>
<script>
    $('.logo').click(function(){
        location.href = '__back__';
    })
    $('.main_word span').click(function(){
        location.href = '__back__/index.php/index/login/register';
    })
</script>