<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛</title>
    <link type="text/css" href="__static__/css/forum.css" rel="stylesheet" />
    <script src="__static__/js/jquery.min.js" ></script>
    <title>关于我们</title>
</head>
<body>
{include file='index/index_top'}
<div class="forum_title">媒体论坛</div>
<div class="forum_main">
    <div class="forum_left">
        <div class="forum_left_title">
                <li>标签来自</li>
                <li>
                    <img src="__static__/img/forum_group.jpg" />
                    <select>
                        <option>类别</option>
                    </select>
                </li>
                <li>
                    <img src="__static__/img/forum_label.jpg" />
                    <select>
                        <option>标签</option>
                    </select>
                </li>
                <li>
                    <img src="__static__/img/forum_person.jpg" />
                    <select>
                        <option>发布者</option>
                    </select>
                </li>
                <div class="forum_left_title_right"><img src="__static__/img/forum_close.jpg" />全部展示</div>

        </div>
        <div class="forum_left_label">
            <li class="forum_left_label_list forum_left_label_active">事件</li>
            <li class="forum_left_label_list">新闻</li>
            <li class="forum_left_label_list">科学</li>
            <img src="__static__/img/forum_label_close.jpg" />
        </div>
        <div class="forum_article">
                <li>
                    <div class="forum_article_date">2017.09/30</div>
                    <div class="forum_article_right">
                        <div class="forum_article_pic"></div>
                        <div class="forum_article_from">
                                <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">郭梓宣</span>
                        </div>
                        <div class="forum_article_main">
                            <p>康复医疗产业将迎来更多机遇</p>
                            <div class="forum_article_content">
                                我国康复医疗产业处于发展初期，面临供给不足、康复机构规模较小<br/>
                                配套设备落后等问题，市场对康复服务的需求量与日俱增，康复产业发展<br/>
                                空间巨大。此外，大力发展康复医疗，能有效利用医疗资源，分流亚急性<br/>
                                期和慢病对大医院的压力，最终实现降低医疗费用的目的 … …<br/>
                            </div>
                            <div class="forum_article_bottom">
                                <div class="forum_article_bottom_left">
                                    <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" />153
                                </div>
                                <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                            </div>
                        </div>
                    </div>
                </li>
            <li>
                <div class="forum_article_date">2017.09/30</div>
                <div class="forum_article_right">
                    <div class="forum_article_pic"></div>
                    <div class="forum_article_from">
                        <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">郭梓宣</span>
                    </div>
                    <div class="forum_article_main">
                        <p>康复医疗产业将迎来更多机遇</p>
                        <div class="forum_article_content">
                            我国康复医疗产业处于发展初期，面临供给不足、康复机构规模较小<br/>
                            配套设备落后等问题，市场对康复服务的需求量与日俱增，康复产业发展<br/>
                            空间巨大。此外，大力发展康复医疗，能有效利用医疗资源，分流亚急性<br/>
                            期和慢病对大医院的压力，最终实现降低医疗费用的目的 … …<br/>
                        </div>
                        <div class="forum_article_bottom">
                            <div class="forum_article_bottom_left">
                                <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" />153
                            </div>
                            <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                        </div>
                    </div>
                </div>
            </li><li>
            <div class="forum_article_date">2017.09/30</div>
            <div class="forum_article_right">
                <div class="forum_article_pic"></div>
                <div class="forum_article_from">
                    <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">郭梓宣</span>
                </div>
                <div class="forum_article_main">
                    <p>康复医疗产业将迎来更多机遇</p>
                    <div class="forum_article_content">
                        我国康复医疗产业处于发展初期，面临供给不足、康复机构规模较小<br/>
                        配套设备落后等问题，市场对康复服务的需求量与日俱增，康复产业发展<br/>
                        空间巨大。此外，大力发展康复医疗，能有效利用医疗资源，分流亚急性<br/>
                        期和慢病对大医院的压力，最终实现降低医疗费用的目的 … …<br/>
                    </div>
                    <div class="forum_article_bottom">
                        <div class="forum_article_bottom_left">
                            <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" />153
                        </div>
                        <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                    </div>
                </div>
            </div>
        </li>
        </div>
    </div>
    <div class="forum_right">
        <div class="forum_right_search">
            <p>搜索</p>
            <input type="text" class="search" name="search" placeholder="请输入关键字"/>
        </div>
        <div class="forum_right_about">
            <p>关于论坛</p>
            依据《中华人民共和国计算机信息系统安全保护条例》、<br/>
            中国教育和科研计算机网用户守则》、《中华人民共和国<br />
            计算机信息网络国际联网管理暂行规定》、《电子出版物<br />
            管理暂行规定》，《互联网电子公告服务管理规定》等<br />
            国家相关法律文件制定本社区管理制度，确保论坛在<br />
            制度约束框架范围内运行。
        </div>
        <div class="forum_right_pinglun">
            <p>最新评论</p>
            <li>
            <div class="forum_right_pinglun_top">
                <div class="forum_article_pic_1"></div>
                <div class="forum_article_date_1"></div>
            </div>
            <div class="forum_right_pinglun_center">
                <img src="__static__/img/forum_user.jpg" /> <span class="pinglun_user">陈伟</span><span>来自</span><span class="pinglun_from">康复医疗产业将迎来更多机遇</span>
            </div>
        </li>
            <li>
                <div class="forum_right_pinglun_top">
                    <div class="forum_article_pic_1"></div>
                    <div class="forum_article_date_1"></div>
                </div>
                <div class="forum_right_pinglun_center">
                    <img src="__static__/img/forum_user.jpg" /> <span class="pinglun_user">陈伟</span><span>来自</span><span class="pinglun_from">康复医疗产业将迎来更多机遇</span>
                </div>
            </li>
        </div>
        <div class="forum_right_bottom">
            <p>元数据</p>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.hcc.hk</li>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.healthcarechain.com</li>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.medicaldata.com</li>
        </div>
    </div>
</div>

<!-- 论坛部分 -->
<div class="luntan">
    <div class="luntan_pic">
        <img src="__static__/img/Group_35.jpg" class="luntan_pic_1"/>
    </div>

    <div class="luntan_word">
        <p>HCC论坛</p>
        最新医疗论坛资讯，尽在HCC医疗链
    </div>

    <div class="luntan_button">
        <input type="button" value="注册/登录" class="but_1" />
        <input type="button" value="阅读更多" class="but_2" />
    </div>

</div>

{include file='index/index_bottom'}
</body>
</html>
<script>
    var html = document.documentElement;

    // 封装一个函数
    function fontS(){
        // 获取 html 的宽
        var hW = html.offsetWidth;
        // 计算字体大小，这里是 html 宽的五十分之一
        var hS = hW / 120;
        // 给刚开始时的 html 设置字体大小
        html.style.fontSize = hS + "px";
    }
    // 当窗口大小改变时执行函数
    fontS();
    window.onresize = function(){
        location.reload();
        fontS();
    }
</script>