<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛</title>
    <link type="text/css" href="__static__/css/forum.css" rel="stylesheet" />
    <script src="__static__/js/jquery.min.js" ></script>
</head>
<body>
{include file='index/index_top'}
<div class="forum_title">媒体论坛</div>
<div class="forum_main">
    <div class="forum_left">
        <div class="forum_left_title">
                <li>标签来自</li>
                <li>
                    <img src="__static__/img/forum_group.jpg" />
                    <select>
                        <option>类别</option>
                    </select>
                </li>
                <li>
                    <img src="__static__/img/forum_label.jpg" />
                    <select>
                        <option>标签</option>
                    </select>
                </li>
                <li>
                    <img src="__static__/img/forum_person.jpg" />
                    <select>
                        <option>发布者</option>
                    </select>
                </li>
                <div class="forum_left_title_right"><img src="__static__/img/forum_close.jpg" />全部展示</div>

        </div>
        <div class="forum_left_label">
            <li class="forum_left_label_list forum_left_label_active">事件</li>
            <li class="forum_left_label_list">新闻</li>
            <li class="forum_left_label_list">科学</li>
            <img src="__static__/img/forum_label_close.jpg" />
        </div>
        <div class="forum_article">
            <li>
                <div class="forum_article_date">2017.10/26</div>
                <div class="forum_article_right">
                    <div class="forum_article_pic"></div>
                    <div class="forum_article_from">
                        <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">胡琳(实习生)、白宇</span>
                    </div>
                    <div class="forum_article_main">
                        <p>区块链技术助力大健康事业</p>
                        <div class="forum_article_content">
                            今年来，区块链技术与AI人工智能一道，成为当下最流行的前沿创新科技，吸引众多企业投入其中进行技术创新实践。其分布式和去信任化的核心理念，被认为将有助于在大健康领域尤其是公立医疗领域发挥巨大作用。
                            <div class="hidden_article">
                                目前，市场上有“阿里健康”、”HCChain”等创新项目开始从病历病案数据的存储和流转切入，借力医联体和医疗资源共享的大趋势，用区块链技术为医疗数据的标准化和可编程性提供新的技术支撑。在此技术基础上，公立医院之间的病例数据流转可以做到充分互信，患者在转诊时无需重复繁琐的报告流程，监管机构也将对区域内病例数据的情况做到心中有数。并且，由于解决了数据信任的问题，并且引入了区块链的智能合约机制，医疗数据变“活”了，将可以在确保患者信息安全的前提下更好的对接保险、药品等第三方健康服务。

                                据悉，阿里健康已经在常州市基层医院展开了项目试点，有望在未来几年内看到区块链技术在大健康领域的开花结果。
                                <a href="http://society.people.com.cn/n1/2017/1026/c1062-29611287.html" >来源人民网</a>
                            </div>
                        </div>
                        <div class="forum_article_bottom">
                            <div class="forum_article_bottom_left">
                                <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" /><span>153</span>
                            </div>
                            <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                        </div>
                    </div>
                </div>
            </li>
                <li>
                    <div class="forum_article_date">2017.09/07</div>
                    <div class="forum_article_right">
                        <div class="forum_article_pic"></div>
                        <div class="forum_article_from">
                                <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">郝雪阳</span>
                        </div>
                        <div class="forum_article_main">
                            <p>ICO在国内被叫停，不做背锅侠的区块</p><p>链，却已在医疗走出了第一步</p>
                            <div class="forum_article_content">
                                9月4日，央行、网信办、工信部、工商总局、银监会、证监会、保监会等七部门出手正式叫停ICO融资（首次代币发行）。通知指出，任何组织和个人不得非法从事代币发行融资活动，各类代币发行融资活动应当立即停止。
                                <div class="hidden_article">
                                    毫无疑问，随着交易风波的愈演愈烈，ICO在这一刻被判了死刑。
                                    坐实了非法融资之名的ICO被封杀是理所应当，但它背后所涉及到的区块链技术却绝不该成为背锅侠。区块链的一干“儿女”中，ICO显然不是最成器的那一个。
                                    在ICO事件后，中国人民银行参事、中欧陆家嘴国际金融研究院常务副院长盛松成向媒体表示：“大量的没有前途的项目甚至本身就是欺骗，不仅让投资者承担巨大风险，也让真正区块链创业的团队颇多抱怨，实际上造成了劣币驱逐良币的不良后果，但中国仍应该鼓励区块链技术。”
                                    一位医疗区块链从业人员告诉动脉网：“ICO事件对我们不仅没有影响，反而有促进作用，因为我们不公开ICO，这样搞一下，大家就能真正安心下来做区块链技术应用了。”
                                    如此看来，区块链犹如一把双刃剑，正反两面的选择，还在于技术的使用者。
                                    看病难、看病贵、信息化程度低，几乎成了每一位医疗从业者的共识。近年来，国家卫生计生委为了缓解这一系列难题，大力提倡推广医疗行业信息化和分级医疗，然而行业的不规范却导致公立医疗体系的信息化建设乱象丛生。
                                    患者个人信息泄露、病历数据泄露、病历数据错乱、跨区跨院转诊困难和数据临床业务脱节等现象，成为了这一领域的主要痛点。缺乏标准化且严谨、完整的协调的电子健康记录（EHR）是这些问题的主要原因。正是这些因素，造成了医院内及整个医疗体系医务和行政人员的效率底下。
                                    更加严重的是，当病历数据在不同医疗机构之间传输时，有极大的可能性出现记录、转档和新增错误。如果一个不对某药品过敏的患者病历被错安在了严重过敏患者的身上，这将在其治疗甚至手术时造成十分严重的后果。
                                    正是由于这种种问题，医疗从业人员一直期望能有一种革命性的技术出现。区块链的横空出世，给行业带来了新的发展机遇。
                                    区块链技术在医疗信息化领域的核心应用优势十分显著。其去中心化的分布式结构应用于现实中可节省大量的中介成本；不可篡改的时间戳特性可解决数据追踪与信息防伪问题；安全的信任机制可解决现今医疗信息化技术的安全认证缺陷；灵活的可编程特性，可帮助医院建立拓展应用。
                                    在实际应用上，区块链能够建立标准化且完整透明的医疗信息基础设施，符合合规要求且便于追溯。使用分布式记账与储存，可以提升医疗机构高容错及纠错的能力。此外，区块链还能提供可定制的智能合约，为开发能力的医疗机构和医药服务商，提供没有负担的进化模型，实现病历流转和处方验真。
                                    区块链的上下游参与者
                                    一位区块链从业人员告诉动脉网，从上游到下游，区块链最顶层为政府部门（如工信部），它们为整个区块链的发展方向进行指引，并且制定行业标准。除此之外，地方政府对区块链产业的资金和政策的扶持，于企业而言也十分重要。
                                    科研机构和高校是产业链中的重要组成部分，它们不仅能够为产业源源不断地输送人才，而且专家和教授理论层面的研究（包括法律、底层技术等），做了大量的技术储备。
                                    在上下游中，参与的企业主要分为两类，一类是平台型的公司，如阿里、腾讯，它们会建设一系列生态平台，进行一些底层技术的研发，提供技术架构的支持。另外一类是业务型公司，它们更多聚焦在一些业务场景上面做垂直的深耕。
                                    最后则是协会、社区和开发者。开源社区和协会主要是串联起产业链中的角色，让各方形成合力，更好地推动产业的发展。开发者则是推进技术落地，完善产品研发。
                                    区块链的相关政策标准
                                    2015年12月，区块链研究联盟、区块链应用研究中心成立；2016年2 月，中关村区块链产业联盟成立。2016年4月，中国分布式总账基础协议联盟(ChinaLedger)宣布成立。
                                    如果按时间线给国内区块链发展大事件进行排序，那基本可以用下图来体现：
                                    ICO在国内被叫停，不做背锅侠的区块链，却已在医疗走出了第一步
                                    数据来源：公开资料整理
                                    目前，国内区块链政策逐渐趋于明晰化，行业政策指导文件主要有 2016年10月工信部发布的《中国区块链技术和应用发展白皮书》，2016年12月国务院发布的《十三五国家信息规划》以及 2017年5月16 日工信部发布的《区块链参考架构》。
                                    2016年10月，工信部发布区块链第一个官方指导文件《中国区块链技术和应用发展白皮书》，给予行业发展政策指引。白皮书总结国内外区块链发展现状和趋势，分析包含金融、供应链、文化娱乐、智能制造、社会公益、教育就业等多个应用场景的技术应用，指出区块链的核心技术路径，首次提出区块链标准化路线图与标准框架体系。
                                    <a href="http://36kr.com/p/5091926.htm" >来源36KR</a>
                                </div>
                            </div>
                            <div class="forum_article_bottom">
                                <div class="forum_article_bottom_left">
                                    <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" /><span>153</span>
                                </div>
                                <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                            </div>
                        </div>
                    </div>
                </li>
            <li>
            <div class="forum_article_date">2017.09/30</div>
            <div class="forum_article_right">
                <div class="forum_article_pic"></div>
                <div class="forum_article_from">
                    <span>内容作者</span><img src="__static__/img/forum_user.jpg" /><span style="color: #646464;">动脉网（ID：vcbeat）</span>
                </div>
                <div class="forum_article_main">
                    <p>医疗信息化：2017年市场增长乏力</p><p>，企业该如何寻找新的增长极？</p>
                    <div class="forum_article_content">
                        2017年的整个医疗信息化行业，更像是集体摸索的一年。上市企业在营收增长上的乏力，促使它们急于寻找新的行业增长点。从2017年的信息化企业融资中，我们很难得出类似去年那样清晰的投资轨迹，整个投资方向变得零散化、碎片化。人工智能的横空出世，让资本将目光几乎都转移到了它的身上。对传统信息化企业来说，是挑战？是机遇？应该如何变革？成了不得不面对的一系列问题。
                        <div class="hidden_article">
                            一、健康医疗大数据进入国家队时期
                            2017年医疗信息化相关的政策和大事件并不少，其中不乏国务院印发的相关行业规划。对此，动脉网摘选了其中最核心的一些政策和事件：
                            2017年1月，国务院印发《“十三五”卫生与健康规划》。《规划》中提到，要促进人口健康信息互通共享。依托区域人口健康信息平台，实现电子健康档案和电子病历的连续记录以及不同级别、不同类别医疗机构之间的信息共享。全面实施“互联网+”健康医疗益民服务，发展面向中西部和基层的远程医疗和线上线下相结合的智慧医疗，促进云计算、大数据、物联网、移动互联网、虚拟现实等信息技术与健康服务的深度融合，提升健康信息服务能力。
                            2017年1月，为加快实施国家大数据战略，推动大数据产业健康快速发展，工信部编制了《大数据产业发展规划（2016－2020年）》。《规划》中提到，促进跨行业大数据融合创新。打破体制机制障碍，打通数据孤岛，创新合作模式，培育交叉融合的大数据应用新业态。支持电信、互联网、工业、金融、健康、交通等信息化基础好的领域率先开展跨领域、跨行业的大数据应用，培育大数据应用新模式。
                            2017年2月，国家卫生计生委发布《关于印发电子病历应用管理规范（试行）的通知》,旧版的《电子病历基本规范（试行）》、中医电子病历基本规范（试行）》同时废止。
                            2017年4月27日，以国有资本为主体，由神州数码控股有限公司、中国工商银行股份有限公司、中国银行股份有限公司、中国科学院控股有限公司、东软集团股份有限公司、浪潮集团、万达信息股份有限公司、易联众信息技术股份有限公司、荣科科技股份有限公司等十三家行业领军企业和投融资平台参与筹备的中国健康医疗大数据股份有限公司在京举行。
                            2017年5月，国家卫生计生委网站发布了国家卫生计生委、国务院医改办《关于做实做好2017年家庭医生签约服务工作的通知》。《通知》中写到，各地要加强区域信息化平台建设和基层医疗卫生机构信息管理系统建设，促进信息互通共享。要建立家庭医生与签约居民的服务互动平台，通过开通网站、手机客户端、微信、微博、视频访视等手段，方便患者在线预约、在线咨询、健康管理、检查检验结果查询、在线支付等，增进医患互动，密切医患联系。
                            2017年7月，国务院印发《新一代人工智能发展规划》:在智能医疗方面。推广应用人工智能治疗新模式新手段，建立快速精准的智能医疗体系。探索智慧医院建设，开发人机协同的手术机器人、智能诊疗助手，研发柔性可穿戴、生物兼容的生理监测系统，研发人机协同临床智能诊疗方案，实现智能影像识别、病理分型和智能多学科会诊。
                            纵观2017年的信息化大事件，我们基本可以看到两个大的发展趋势。一是大数据和互联互通的大力推进，二是基于大数据的人工智能开始正式进入国家发展规划中。
                            大数据方面，动脉网曾对现阶段健康医疗大数据的政策进行过分析。我们发现，虽然在宏观政策层面国家对于发展健康医疗大数据是鼓励和扶持的，但是具体到政策落地和具体操作，尚有多项现实性难点和障碍需要攻克和破除，主要包括以下5点：
                            ①健康医疗大数据领域的法律体系亟待完善，安全与隐私缺少保障；
                            ②医院内数字孤岛丛生，数据共享与互联互通存在障碍；
                            ③数据标准化问题；
                            ④健康医疗大数据人才缺失；
                            ⑤企业的商业模式难以形成。
                            特别是在数据开放和商业模式上，大数据的进展阻碍重重。
                            目前医疗健康大数据的主要付费方分是六个：消费者、企业、保险公司、政府、医院及药企（包括医械）。短期来看，保险公司和药企的付费意愿最强，都有代表企业开始尝试大数据的应用。医院、政府与企业需求还是明显的，但现阶段还比较保守。
                            医院等机构的保守，更多还是在于数据的价值、隐私和安全性。大医院没有动力将数据开放给小医院，网络攻击的猖獗，让医院对于外网是唯恐避之不及。在这种情况下，数据的互联互通更多只能在医院内部进行。
                            无论是工信部编制的《大数据产业发展规划（2016－2020年）》， 新版电子病历对于数据共享重点强调，还是有着国家队背景的中国健康医疗大数据股份有限公司的成立，都可以看做是国家对于健康医疗大数据逐级推进。基于国家队信息安全的越发重视，动脉网认为，具有国资背景的大数据公司有望迎来新一轮发展高峰。而外资背景企业在医院等机构的推行，预计会有所限制。
                            人工智能的开发基础和长期优化需要高质、持续的数据。传统HIS系统里的数据，由于其历史因素造成的数据质量和维度的不足，使得利用这些数据训练出来的AI在准确度和泛用性上很难真正应用于临床。因此，只有保证原始数据的专业化质量、结构化整合，及多样化维度，才能让未来开发具有真实性和准确性的人工智能变得可能。
                            在这个方向上，国内已经有部分公司进行了深度布局，以博识医疗云为例，该企业能够在标准化结构和统一化用语的前提下，满足医院临床数据不断加速的迭代需求。同时，它还能够让医生的每一个病例根据输入的不同字段，得到想要的信息。按照疾病种类的不同，博识医疗云还能帮助医院实现个性化、标准化数据整合，最终打通患者健康数据与诊疗数据的隔阂，从而形成真正意义上的健康医疗大数据。
                            二、2017年医疗信息化投融资呈零散化态势
                            医疗信息化：2017年市场增长乏力，企业该如何寻找新的增长极？
                            截止2017年11月，整个医疗信息化行业的融资额约为1.19亿美元，共有17家企业拿到了融资。而2016年同期，共有22家企业拿到融资，融资总额约为3.84亿美元。显然，2017年不仅拿到融资的企业更少，而且总融资额相对2016年也少了大半。
                            从2016年的融资我们可以发现，全年共有7家公司的融资轮次在A轮以后，而2017年只有4家。从领域上看，整个2017年的医疗信息化融资，呈现领域分散的情况。
                            医疗信息化：2017年市场增长乏力，企业该如何寻找新的增长极？
                            数据来源：动脉网，蛋壳研究院数据库
                            动脉网分析了整体发展态势后认为，2017年医疗信息化行业投融资热度的总体下降，很大程度上是由于人工智能在这一年被集中火力，成为投资方的追捧对象。而获得融资的一些细分领域，如院内定位、智慧养老、感控管理、医院随访、临床研究等，也基本是围绕医院内展开，院外的信息化获得融资相对较少。医疗信息化企业也随着人工智能的升温，今年开始逐渐往人工智能转型。（在下文，我们会专门用一个章节来分析）。
                            三、创新领域发展
                            医联体和家庭医生签约信息化建设走上快车道
                            2017年医联体的信息化建设成为了一大热门。2017年9月1日，在深圳召开的全国医联体建设现场推进会上，国务院医改领导小组副组长、国家卫生计生委主任李斌公布，截至2017年6月底，全国已经有1764家三级医院开展多种形式的医联体建设工作，占全国三级医院的80%；江苏、重庆、四川、陕西等8个省市超过90%的三级医院参与组建医联体。
                            专科医联体的建设是目前国内三甲医院的重中之重。普通的医联体多由政府牵线或医院领导牵线，目的是提升医院品牌，而不是以患者、学科为中心。这种医联体一旦热度退散后专家容易流失。
                            与之相比，专科医联体从人出发，以疾病规范化治疗和人才培养为抓手，可以让患者得到同质化的治疗。过去，基层医院的患者去一趟三甲医院看重点专科的专家十分困难，而现在通过专科医联体，基层疑难症患者也可以及时得到专家的指导。
                            以江干区眼底病会诊中心为例。江干区眼底病会诊中心是在江干区卫计局的领导下，由浙江省眼科医院眼底病中心牵头、卓健科技提供技术支持，以提高江干区眼底疾病的区域性诊疗水平为宗旨的区域性眼底疾病诊疗平台，是杭州市乃至浙江省范围内首个区域性眼底病会诊平台。
                            通过“江干区眼底病会诊中心”平台，社区医生能实时上传患者检查结果，浙江省眼科医院的专家能在短时间内对患者的眼底情况进行会诊，再反馈至社区医院。社区医生可根据会诊结果，决定患者是否需要进一步转诊，并为有需要的患者在平台完成转诊预约。实现患者就诊的及时、高效的同时，也节约了医疗资源，为有需要的患者提供更多的就医机会。
                            家庭医生签约方面，作为国内标杆的家庭医生服务企业社区580，向动脉网独家公布了旗下社区580居民端APP的最新运营数据。数据显示：从2017年3月到6月，社区580在继续横向拓展市场的同时，启动了收入转化计划，短短3个月时间，免费医院向付费医院的转化率已超过7%，连续3个月的收入环比增长超过100%，实现单月盈利近百万。
                            在与其CEO刘波的对话过程中，动脉网得出了目前家庭医生签约信息化的三大现状：
                            现状1：迅速建立家庭医生服务体系，是社区医院的刚需，只要提供好的平台和工具，社区医院都有很强的付费意愿。
                            现状2：慢病人群、孕产人群和儿童，是目前家庭医生签约的核心人群。如何为这些重点人群提供有效的个性化服务是家庭医生业务成功的关键。
                            现状3：家庭医生签约补贴管理、履约管理和家庭医生健康管理会带来巨大的信息化需求。
                            动脉网认为，医联体建设和家庭医生签约服务，是推进分级诊疗制度的两个“翅膀”。医联体建设将对我国医疗卫生服务体系进行再造、重组。通过组建不同区域的专科医联体，让公众通过家庭医生签约，通过医联体内的全方位、全周期的医疗服务，公众将更方便。
                            其中，专科医联体和家庭医生签约的信息化，更将作为分级诊疗发展的关键。通过信息化，能够打通阻碍机构协作、资源整合的各种壁垒，构建紧密型医联体，促进家庭医生签约，把优质医疗资源沉下基层，实现可持续发展。
                            CDSS临床决策支持系统持续升温
                            CDSS的研究始于20世纪50年代末，最早的研究方向是医学专家通过推理引擎，将专业知识和临床经验经过整理后存储于知识库中，利用逻辑推理和模式匹配的方式，帮助用户进行诊断推断。
                            直到20世纪70年代中期，世界上第一个CDSS(MYCIN)才由美国斯坦福大学研制诞生。那套系统可以根据输入的检验信息，自动识别51种病菌，正确使用23种抗菌素。可协助医生诊断及治疗细菌感染性疾病，为患者提供最佳处方。
                            随后，各种功能特色的CDSS相继出现，如美国匹兹堡大学的Internist-I 、QMR，犹他州大学的 ILIAD、HELP， 哈佛大学的DXPLAIN，Wolter Kluwer 公司的Uptodate， Elsevier公司的MD consult等。
                            在医生看来，借助CDSS提升自己的诊疗水平，是一种高成效的方式。而大医院要想通过HIMSS EMRAM评价体系，CDSS（临床决策支持系统）是无法避开的一环。
                            最近两年，有不少信息化企业相继推出了自己的CDSS相关产品：
                            2016年，惠每科技发布了基于人工智能的惠每临床决策辅助系统，该系统可为全科医生提供完整的知识体系解决方案，能够提供分诊、鉴别诊断以及慢病合理用药和疾病知识等系统功能
                            2016年11月，若水医生旗下“般若”智能专家诊断系统正式发布；
                            2017年2月，康夫子临床智能辅助决策系统正式上线；
                            2017年4月，零氪科技HUBBLE医疗大数据辅助决策系统正式上线。
                            CDSS，这个在信息化行业本不新鲜的词，在今年似乎成为了一大热门。
                            动脉网曾对国内（含国内代理的国外产品）24家研发CDSS产品的公司进行过调查。在这份调查表中，能够与电子病历系统交换数据的产品共有9家；明确提到有深度学习能力的CDSS产品共有7款，其它则多为知识库产品。从技术的角度看，具有深度学习能力的CDSS，对于医生在使用过程中的反馈处理会更加及时，反馈速度更快，临床决策更加智能，这也是CDSS未来发展的方向。
                            2017年作为人工智能集中爆发的一年，包括嘉和美康、若水医生、木老仁康和零氪科技、康夫子在内的多家公司，都将深度学习能力集成到了临床决策支持系统中。
                            对此，动脉网认为，大数据作为人工智能的基础，由于医疗大数据公司与医院内临床数据的深度结合，因此在引入人工智能上具有天然优势。大数据公司原有的商业模式和产品由于落地情况较好，所以即便将人工智能作为一种附加性服务整合进产品中，对企业和医院来说也并不会增加额外的成本，因此接受难度也不会太大。所以，动脉网看好类似零氪科技和嘉和美康这类信息化大数据公司在CDSS和人工智能方面的延伸和探索。
                            此外，动脉网还就CDSS的市场空间进行过分析。
                            2017年4月底，国家卫生计生委统计信息中心公布了全国医疗卫生机构的最新数据。数据显示，现阶段全国医疗卫生机构有98.7万个，其中三级医院数量为2267个，基层医疗卫生机构93.0万个（包括社区卫生服务中心(站)3.5万个，乡镇卫生院3.7万个，村卫生室63.8万个，诊所(医务室)20.5万个）。
                            由于国内《电子病历系统应用水平分级评价标准》和HIMSS评级通过率和天花板均较低，CDSS的市场开始逐渐从公立医院转向基层医疗机构。
                            以HIMSS评审为例，亚太地区HIMSS EMRAM 6级通过率约为5.6%，以国内三级以上医院数量（2267家）为天花板判断，CDSS的HIMSS评审市场空间，以300万元为项目建设均价（通过咨询多家信息化公司得出的平均参考价格），那么国内HIMSS（6级-7级阶段）的市场空间约为3.8亿元。
                            即使不考虑村卫生室63.8万家的村卫生室，国内还有27.7万家基层医疗机构。如果以5万元为项目均价计算，CDSS在国内基层医疗的市场空间约为138.5亿元，远远高于单纯做等级评审的市场空间。要是再将二级医院、一级医院乃至公共卫生机构算在内，市场空间还会更大。
                            四、信息化上市公司集体向人工智能布局
                            医疗信息化上市公司的一举一动，犹如一张晴雨表，直接反映了整个行业发展趋势。动脉网在查阅了8家国内主要医疗信息化公司的2017年半年报后，从中提取了其中技术创新的部分：
                            医疗信息化：2017年市场增长乏力，企业该如何寻找新的增长极？
                            可以看出，今年医疗信息化公司在技术创新领域提的最多的关键词便是大数据和人工智能。在分析背后原因之前，我们先对各家主营医疗相关业务的运营情况进行了梳理（数据皆来自于上市公司半年年报）：
                            从各家的运营情况来看，不仅医疗相关业务普遍毛利率偏低（没有一家增长超过10%），并且不少公司出现了负增长。我们可以大致推断医疗信息化行业整体已经趋于发展瓶颈。在大环境下，拓展新的技术和市场，找到新的业务增长点，成为了企业发展的关键。
                            2017年，人工智能相关企业相继获得大额融资：
                            5月，依图科技完成C轮3.8亿元融资；
                            7月，雅森科技获得数千万A+轮融资；
                            8月，点内生物获得近千万天使轮融资；
                            9月，推想科技获得1.2亿元B轮融资；
                            ……
                            基于深度学习与医疗信息化和大数据的紧密关联，人工智能的落地有望对医疗信息化行业带来较大的刺激，因此，上市公司的跟进也成为了必然。随着更多行业巨头的试探和入局，相信这一轮人工智能风潮，还会持续较长一段时间。
                            五、大数据人工智能
                            纵观2017年的整个医疗信息化行业，大数据、人工智能作为最核心的两个点，已经成为创业公司乃至上市公司的布局重点。如果说2016年是大数据的元年，那么2017年我们更愿意将其称之为人工智能的元年。传统的信息化公司，逐渐从大数据化，开始往人工智能化转型。医院互联互通、医联体和家庭医院签约的信息化，能够推动大数据往人口健康信息迁移。更大体量数据的产生，也为人工智能的发展奠定了坚实的基础。
                            “大数据+人工智能+医疗”，不仅能为传统信息化企业带来新的智能解决方案和新的行业增长点。同时，也将为患者、医生和医院创造更多的价值，从而更好地促进分级医疗国策向基层落地，更好地服务于广大基层患者，最终解决国民“看病难”的问题。
                            本文经授权发布，不代表36氪立场。如若转载请注明出处。
                            <a href="http://36kr.com/p/5091926.htm" >来源36KR</a>
                        </div>
                    </div>
                    <div class="forum_article_bottom">
                        <div class="forum_article_bottom_left">
                            <span>Do you like it?</span><img src="__static__/img/forum_like_1.jpg" /><span>153</span>
                        </div>
                        <div class="forum_article_bottom_right"><img src="__static__/img/forum_more.jpg" />展开阅读</div>
                    </div>
                </div>
            </div>
        </li>
        </div>
    </div>
    <div class="forum_right">
        <div class="forum_right_search">
            <p>搜索</p>
            <input type="text" class="search" name="search" placeholder="请输入关键字"/>
        </div>
        <div class="forum_right_about">
            <p>关于论坛</p>
            依据《中华人民共和国计算机信息系统安全保护条例》、<br/>
            中国教育和科研计算机网用户守则》、《中华人民共和国<br />
            计算机信息网络国际联网管理暂行规定》、《电子出版物<br />
            管理暂行规定》，《互联网电子公告服务管理规定》等<br />
            国家相关法律文件制定本社区管理制度，确保论坛在<br />
            制度约束框架范围内运行。
        </div>
        <div class="forum_right_pinglun">
            <p>最新评论</p>
            <li>
            <div class="forum_right_pinglun_top">
                <div class="forum_article_pic_1"></div>
                <div class="forum_article_date_1"></div>
            </div>
            <div class="forum_right_pinglun_center">
                <img src="__static__/img/forum_user.jpg" /> <span class="pinglun_user">陈伟</span><span>来自</span><span class="pinglun_from">康复医疗产业将迎来更多机遇</span>
            </div>
        </li>
            <li>
                <div class="forum_right_pinglun_top">
                    <div class="forum_article_pic_1"></div>
                    <div class="forum_article_date_1"></div>
                </div>
                <div class="forum_right_pinglun_center">
                    <img src="__static__/img/forum_user.jpg" /> <span class="pinglun_user">陈伟</span><span>来自</span><span class="pinglun_from">康复医疗产业将迎来更多机遇</span>
                </div>
            </li>
        </div>
        <div class="forum_right_bottom">
            <p>元数据</p>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.hcc.hk</li>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.healthcarechain.com</li>
            <li><img src="__static__/img/Oval Copy 3.jpg" />www.medicaldata.com</li>
        </div>
    </div>
</div>

<!-- 论坛部分 -->
<div class="luntan">


    <div class="luntan_button">
        <input type="button" value="注册/登录" class="but_1" />
        <input type="button" value="阅读更多" class="but_2" />
    </div>

</div>

{include file='index/index_bottom'}
</body>
</html>
<script>
    $('.meau_list').eq(4).find('a').css('color','#ffffff');
    $('.meau_list').eq(4).addClass('active');
    var html = document.documentElement;

    // 封装一个函数
    function fontS(){
        // 获取 html 的宽
        var hW = html.offsetWidth;
        // 计算字体大小，这里是 html 宽的五十分之一
        var hS = hW / 120;
        // 给刚开始时的 html 设置字体大小
        html.style.fontSize = hS + "px";
    }
    // 当窗口大小改变时执行函数
    fontS();
    window.onresize = function(){
        location.reload();
        fontS();
    }
    $('.luntan_button .but_1').click(function(){
        location.href = '__back__/index.php/index/index/hope';
    })
    $('.forum_article_bottom_right').click(function(){
        if($(this).parent().prev().children().css('display') == 'none'){
            //$(this).parent().prev().children().css('display','block');
            $(this).parent().prev().children().slideDown("slow");
        }else{
            $(this).parent().prev().children().slideUp("slow");
        }

    })
    $('.forum_article_bottom_left img').one('click',function(){
        $(this).attr('src','__static__/img/forum_like_2.jpg');
        var x = parseInt($(this).next().html()) + 1;
        $(this).next().html(x);
    })
</script>