<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="__static__/css/about.css" rel="stylesheet" />
    <script src="__static__/js/jquery.min.js" ></script>
    <title>关于我们</title>
</head>
<body>
{include file='index/index_top'}
<div class="about_title">
        <p>关于我们</p>
</div>
<div class="about_pic">
    <div class="pic_word">
        <p>I will respect the secrets which are confided in me，</p>
        <p>I will maintain the utmost respect for human life, </p>
        <p> from the time of its conception</p>
    </div>
</div>
<div class="about_main">
    <div class="about_main_pic"></div>
    <div class="about_main_word_1">
        <p>链星科技是一家制造区块链互联网终端公司，公司的使命是用完美用户体验和专注，打造用户体验一流的电子病历系统</p>
        <p>和AI穿戴产品，通过完善的区块链技术和大数据数据库，创造科学、贴心、实时监测的技术改善人们的生活质量</p>
    </div>
    <div class="about_main_word_2">
        <p>See our strong</p>
        <p>team</p>
        Etiam hendrerit eget, dictum est, dapibus eget,<br/>
        eros. Morbi eget dolor urna<br/><br/>
        Nunc elementum. Mauris viverra<br/>
        accumsan, libero in nibh eu dui sit amet,<br/>
        orci. Nam sed augue sit amet metus<br/>
        nonummy malesuada, arcu vel massa.<br/>
        Integer lacinia erat. Fusce sed lacus. In<br/>
        tristique eu, sagittis nec.
    </div>
    <img src="__static__/img/about_main_pic_3.png" class="about_main_pic_3" />
    <img src="__static__/img/about_main_pic_2.png" class="about_main_pic_2" />
    <img src="__static__/img/about_main_pic_4.png" class="about_main_pic_4" />
</div>
<div class="about_pic_2"></div>
<div class="about_list">
    <p style="padding-bottom:10.7%;">Our Project</p>
    <li>
        <div class="about_list_1"></div>
        <p>区块链服务器</p>
        Aliquam venenatis nisi ut orci congue hendrerit. Quisque non<br/>
        lectus at turpis euismod vehicula! Vestibulum varius nulla leo, a<br/>
        pulvinar nisl dapibus a posuere.
    </li>
    <li>
        <div class="about_list_2"></div>
        <p>行业解决方案</p>
        Donec at turpis tincidunt, pretium velit in, porttitor justo?<br/>
        Phasellus interdum ultrices tortor sed condimentum! Donec vel<br/>
        tincidunt lorem. Sed mattis dui sed.
    </li>
    <li>
        <div class="about_list_3"></div>
        <p>个人健康应用 — AI穿戴</p>
        Proin eu metus purus. Cras vehicula tincidunt enim. Vestibulum<br/>
        convallis ex ut odio hendrerit aliquet. Proin cursus magna ac<br/>
        risus condimentum, in pharetra sed.
    </li>
</div>
{include file='index/index_bottom'}
</body>
</html>
<script>
    $('.meau_list').eq(3).find('a').css('color','#ffffff');
    $('.meau_list').eq(3).addClass('active');
    var html = document.documentElement;
    function fontS(){
        // 获取 html 的宽
        var hW = html.offsetWidth;
        // 计算字体大小，这里是 html 宽的五十分之一
        var hS = hW / 120;
        // 给刚开始时的 html 设置字体大小
        html.style.fontSize = hS + "px";
    }
    // 当窗口大小改变时执行函数
    fontS();
    window.onresize = function(){
        location.reload();
        fontS();
    }
</script>