<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>敬请期待</title>
    <link type="text/css" href="__static__/css/error_page.css" rel="stylesheet" />
</head>
<body>
    <div class="top_logo"></div>
    <div class="center">
        <div class="center_logo"><img src="__static__/img/lantern.png" /></div>
        <div class="center_center">
            <p style="font-size: 250%;color: #1951FD;letter-spacing: 13.89px;">更多功能即将开放，敬请期待</p>
            <p style="font-size: 150%;color: #B4B4B4;letter-spacing: 1.87px;line-height: 100%;">More functions will be opened soon, please wait</p>

            <p style="font-size: 160%;color: #000000;letter-spacing: 0;line-height: 100%;">10s之后页面会自动跳转到首页</p>
        </div>
    </div>
<div class="go_back">
    返回首页<img src="__static__/img/right_icon.png" />
</div>
</body>
</html>
<script src="__static__/js/jquery.min.js" ></script>
<script>
    var html = document.documentElement;

    // 封装一个函数
    function fontS(){
        // 获取 html 的宽
        var hW = html.offsetWidth;
        // 计算字体大小，这里是 html 宽的五十分之一
        var hS = hW / 120;
        // 给刚开始时的 html 设置字体大小
        html.style.fontSize = hS + "px";
    }
    // 当窗口大小改变时执行函数
    fontS();
    window.onresize = function(){
        location.reload();
        fontS();
    }
</script>