<!-- 底部 -->
<div class="bottom">
    <li>
        <p>关于我们</p>
        Nulla dignissim tortor nec ante semper, vel vehicula tortor<br/>
        condimentum. Etiam luctus justo a turpis pulvinar semper.<br/>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices<br/>
        posuere cubilia. Aliquam erat ac ipsum. Integer aliquam purus.<br/>
        Quisque lorem tortor luctus justo.
    </li>
    <li>
        <p>我们的使命</p>
        Donec neque libero, maximus ut risus sit amet, rhoncus<br/>
        vestibulum purus. Sed dapibus elit rhoncus dolor tempus<br/>
        sodales. Vestibulum at euismod nisi. Nunc tortor augue, tempus<br/>
        sed lorem nec. Maecenas consequat, augue a venenatis risus. Ut<br/>
        id mollis vel, lacinia quam.
    </li>
    <li>
        <p>联系我们</p>
        上海市浦东新区世纪大道1229号世纪大都会<br/>
        +61 (0) 3 8376 6284<br/>
        www.hcc.com<br/>
        <img src="" class="bot_pic"/><img src="" class="bot_pic"/><img src="" class="bot_pic"/><img src="" class="bot_pic"/>
    </li>
    
    <img src="" />
</div>