<!-- 底部 -->
<div class="bottom">
    <li>
        <p>关于我们</p>
        HCChain是一个专注于区块链为基础的医疗信息化研究的创业团队。<br/>
        团队成立于2016年，在2017年6月发布“医疗链”项目，<br/>
        与2017年10月更名为“HCChain”。<br/>
        HCC是区块链上流转的虚拟资产，<br/>
        它由独立的非营利性基金组织发行和运营。
    </li>
    <li>
        <p>我们的使命</p>
        始终拥抱中华人民共和国相关监管指导意见，<br/>
        在确保合法合规的基础上坚持科技创新，做有利于行业、社会的事情，<br/>
        进一步推动科技成果转移转化，<br/>
        打通应用技术走向市场的“最后一公里”，<br/>
        为中国公立医疗行业提升技术效率和社会公信力做出应有的贡献
    </li>
    <li>
        <p>联系我们</p>
        官方微博：weibo.com/hcchain<br/>
        官方telegram电报群：<br/>https://t.me/joinchat/GIL1lxCWuVH-w0npw6I8dw<br/>
        Github：https://github.com/healthcarechain<br/>
        <img src="" class="bot_pic"/><img src="" class="bot_pic"/><img src="" class="bot_pic"/><img src="" class="bot_pic"/>
    </li>

    <div class="go_top">
        <div class="go_top_pic"></div>
    </div>
</div>
<script src="__static__/js/jquery.min.js" ></script>
<script>
    $('.go_top_pic').click(function(){
        $("html,body").animate({scrollTop:0},1000);
    })
</script>